/* pages/classify/index.wxss */
.pro-banner-wrapper {
  height: 460rpx;
  width: 100%;
  image {
    width: 100%;
    height: 100%;
  }
}
.pro-content-wrapper {
  .pro-content {
    padding: 30rpx;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .pro-item-wrapper {
      width: 320rpx;     
      margin-bottom:30rpx; 
    }
  }
  .loading-wrapper {
    text-align: center;
    padding:30rpx 0;
    z-index: 9999;
    .isTotal {
      font-size: 30rpx;
      color:#666;
    }
  }
}