/* pages/news/index.wxss */
.news-wrapper {
  padding:50rpx 30rpx;
  background-color: var(--globalBgColor2);
  .brand-content {
    .item-wrapper {
      border-bottom: dashed 1rpx var(--themeColor);
      padding: 20rpx 0;
    }
    .item-wrapper:first-child {
      padding-top: 0rpx;
    }
    .item-wrapper:last-child {
      border-bottom: none;
    }
  }
  .loading-wrapper {
    text-align: center;
  }
  .total-wrapper {
    text-align: center;
    color: var(--subColor);
    font-size: 32rpx;
  }
}
